#profile-picture {
    /*background-image: url("project://database/Assets/UI/Images/profile_picture.png?fileID=2800000&amp;guid=ee898a0a6ba5d4e6f9aec36b930f3c7a&amp;type=3#profile_picture");*/
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    align-items: stretch;
    -unity-background-scale-mode: scale-and-crop;
}